
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





/*Client single page css*/

.formInput_pdding .row .col-6{
	margin-bottom: 20px;
}


nav ul.nav li {
    margin-bottom: 15px;
}

.addsoftFrom_cont .row label span{
	color: red;
	font-weight: 700;
}