/*-----------------------
    Name:  WorldSoftZone CRM;
    Author:  WorldSoftZone;
    Version: 1.0.0;
-----------------------*/





/*Client single page css*/

.addsoftFrom_cont .row .col-6{
	margin-bottom: 20px;
}


nav ul.nav li {
    margin-bottom: 15px;
}

.softInstallListWrapper{
	width: 100%;
	overflow-x: scroll;
}

.billingTable{
	min-width: 1900px;
}


#installDetailsModal .form-control:disabled, .form-control[readonly]{
	background-color: #e9ecef59;
}

#installDetailsModal .input-group-text{
	font-size: 12px;
}


/*Data model*/
div#appAllertSuccess {
    position: fixed;
    top: 0;
    right: 20px;
    padding: 5px 30px;
    border-radius: 4px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px #00000096;
}
div#appAllertFaild {
    position: fixed;
    top: 0;
    right: 20px;
    padding: 5px 30px;
    border-radius: 4px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px #00000096;
}